<h1> <%= current_user.name %>'s profile page</h1>

<h2>Your events:</h2>

<% if current_user.created_events.any? %>

	<ul>
	<% current_user.created_events.each do |event| %>
		<li> <%= link_to event.title, event_path %> </li>
	<% end %>
	</ul>

<% else %>
	
	<p>You have not create any event yet.</p>

<% end %>

<h2>Past events you attended at:</h2>

<% if @past_events.any? %>

	<ul>
	<% current_user.past_events.each do |event| %>
		<li> <%= link_to event.title, event_path %> </li>
	<% end %>
	</ul>

<% else %>
	
	<p>There are not past events</p>

<% end %>

<h2>Future events you will attend at:</h2>

<% if @upcoming_events.any? %>

	<ul>
	<% current_user.upcoming_events.each do |event| %>
		<li> <%= link_to event.title, event_path %> </li>
	<% end %>
	</ul>

<% else %>
	
	<p>There are not upcoming events</p>

<% end %>