@import 'bootstrap';

#logo img {
	width: 12em;
	margin: 10px 0 0 20px;
}

.navbar {
	padding: 0 20px;	

}

#header-top {
	/*background: #f3f3f3;*/
	height: 6em;
}

ul li {
	list-style-type: none;
}

.welcome p {
	padding: 5px 0 0 0;
}

.jumbotron {
	margin-top: 2em;
	background-color: #f0f0f0;
	border: 1px solid #ddd; 
}

