@import 'bootstrap';

ul li {
	list-style-type: none;
}

.header-button, .welcome {
	display: inline;
}

.welcome {
	margin-right: 20px;
}

.jumbotron {
	margin-top: 100px;
	background-color: #f0f0f0;
	border: 1px solid #ddd; 
}

