@import 'bootstrap';


#logo img {
	width: 12em;
	margin: 1em 0 0 2em;
}

.navbar {
	padding: 0 20px;	
}

#header-top {
	/*background: #f3f3f3;*/
	height: 6em;
}

.event-desc {
	clear: both;
}

h3 {
	padding: 0 0 0.5em 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: right;
}

.event-slot {
	border-bottom: 1px solid #f2f2f2;
	padding: 1em 0;
	height: 100%;
}

.event-slot img {
	display: inline;
	margin: 1em 0 1em 0;
}

ul li {
	list-style-type: none;
}

.welcome p {
	padding: 5px 0 0 0;
}

.jumbotron {
	margin-top: 2em;
	background-color: #f0f0f0;
	border: 1px solid #ddd; 
}

.avatar {
	margin: 0 0 2em 0;
}

.event-group {
	border-bottom: 1px solid #f2f2f2;
	padding: 2em 0 0 0;
}

.message {
	color: #ddd;
	padding: 1em 0;
}

.profile-tab {
	margin: 4em 0 0 0;
}